<nav class="w-full mx-auto bg-white shadow" data-controller="navbar">
  <div class="container px-6 justify-between h-16 flex items-center lg:items-stretch mx-auto">
      <div class="h-full flex items-center">
          <div class="mr-10 flex items-center">
              <%= image_tag("hazelnuts", :class => "h-10 w-10") %>
              <h3 class="text-base text-gray-800 font-bold tracking-normal leading-tight ml-3 hidden lg:block">
                  Hazelnut Lovers
              </h3>
          </div>
          <ul class="xl:flex items-center h-full">
              <%= link_to "Home feed", posts_path, :class => "hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm tracking-normal mr-2" %>
              <%= link_to "Explore", explore_path, :class => "hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm tracking-normal mr-2" %>
              <%= link_to "Your activity", posts_path, :class => "hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm tracking-normal mr-2" %>
              <%= link_to "About us", posts_path, :class => "hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm tracking-normal" %>

          </ul>
      </div>
      <div class="h-full xl:flex items-center justify-end hidden">
          <div class="w-full h-full flex items-center">
              <div class="w-full pr-12 h-full flex items-center border-r">
                  <div class="relative w-full">
                      <div class="text-gray-500 absolute ml-3 inset-0 m-auto w-4 h-4">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" />
                              <circle cx="10" cy="10" r="7" />
                              <line x1="21" y1="21" x2="15" y2="15" />
                          </svg>
                      </div>
                      <input class="border border-gray-100 focus:outline-none focus:border-indigo-700 w-56 rounded text-sm text-gray-500 bg-gray-100 pl-8 py-2" type="text" placeholder="Search" />
                  </div>
              </div>
              <div class="w-full h-full flex">
                  <div class="w-32 h-full flex items-center justify-center border-r cursor-pointer text-gray-600">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                          <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                      </svg>
                  </div>
                  <% if current_lover %>
                  <div aria-haspopup="true" class="cursor-pointer w-full flex items-center justify-end relative" data-action="click->navbar#dropdownHandler">
                      <ul class="p-2 w-40 border-r bg-white absolute rounded z-40 left-0 shadow mt-64 hidden" data-navbar-target="dropdown">
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                              <div class="flex items-center">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" />
                                      <circle cx="12" cy="7" r="4" />
                                      <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                  </svg>
                                  <span class="ml-2">My Profile</span>
                              </div>
                          </li>
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <circle cx="12" cy="12" r="9" />
                                  <line x1="12" y1="17" x2="12" y2="17.01" />
                                  <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                              </svg>
                              <span class="ml-2">Help Center</span>
                          </li>
                          <%= button_to destroy_lover_session_path, :method => :delete, :class => "cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none" do %>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                  <circle cx="12" cy="12" r="3" />
                              </svg>
                              <span class="ml-2">Sign Out</span>
                          <% end %>

                      </ul>
                      <img class="rounded h-10 w-10 object-cover" src="https://tuk-cdn.s3.amazonaws.com/assets/components/boxed_layout/bl_1.png" alt="logo" />
                      <p class="text-gray-800 text-sm ml-2"><%= current_lover.email %></p>
                  </div>
                  <% else %>
                    <div class="w-full ml-auto flex items-center pl-4">
                      <%= link_to "Sign In", new_lover_session_path %>
                      <%= link_to "Create account", new_lover_registration_path, :class => "ml-2" %>
                    </div>
                  <% end %>
              </div>
          </div>
      </div>
      <div class="visible xl:hidden flex items-center">
           <ul class="z-40 p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-16 md:mt-16 hidden">
                  <li class="flex xl:hidden cursor-pointer text-gray-600 text-base leading-3 tracking-normal mt-2 py-3 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                      <div class="flex items-center">
                          <span class="leading-6 ml-2 font-bold">Dashboard</span>
                      </div>
                  </li>
                  <li class="flex xl:hidden flex-col cursor-pointer text-gray-600 text-base leading-3 tracking-normal py-3 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center"
                      data-action="click->navbar#dropdownHandler">
                      <div class="flex items-center">
                          <span class="leading-6 ml-2 font-bold">Products</span>
                      </div>
                      <ul class="ml-2 mt-3 hidden">
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                              Landing Pages
                          </li>
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                              Templates
                          </li>
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                              Components
                          </li>
                      </ul>
                  </li>
                  <li class="flex xl:hidden cursor-pointer text-gray-600 text-base leading-3 tracking-normal py-3 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                      <span class="leading-6 ml-2 font-bold">Performance</span>
                  </li>
                 <li class="flex xl:hidden flex-col cursor-pointer text-gray-600 text-base leading-3 tracking-normal mb-2 py-3 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center"
                      data-action="click->navbar#dropdownHandler">
                      <div class="flex items-center">
                          <span class="leading-6 ml-2 font-bold">Deliverables</span>
                      </div>
                      <ul class="ml-2 mt-3 hidden">
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                              Landing Pages
                          </li>
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                              Templates
                          </li>
                          <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                              Components
                          </li>
                      </ul>
                  </li>
                  <li>
                      <hr class="border-b border-gray-300 w-full"/>
                  </li>
                  <li class="ml-2 cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                      <div class="flex items-center">
                          <div class="w-12 cursor-pointer flex text-sm border-2 border-transparent rounded focus:outline-none focus:border-white transition duration-150 ease-in-out">
                              <img class="rounded h-10 w-10 object-cover"
                                   src="https://tuk-cdn.s3.amazonaws.com/assets/components/horizontal_navigation/hn_1.png"
                                   alt="logo">
                          </div>
                          <p class="leading-6 text-base ml-1 cursor-pointer"><%= current_lover ? current_lover.email : "Sign in" %></p>
                          <div class="sm:ml-2 text-white relative">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class="icon icon-tabler icon-tabler-chevron-down cursor-pointer"
                                   width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                   stroke="currentColor" fill="none" stroke-linecap="round"
                                   stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z"></path>
                                  <polyline points="6 9 12 15 18 9"></polyline>
                              </svg>
                          </div>
                      </div>
                  </li>
                  <li class="ml-2 cursor-pointer text-gray-600 text-base leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg"
                               class="icon icon-tabler icon-tabler-user" width="24" height="24"
                               viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                               fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z"/>
                              <circle cx="12" cy="7" r="4"/>
                              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/>
                          </svg>
                          <span class="leading-6 ml-2">Profile</span>
                      </div>
                  </li>

              </ul>
          <svg data-action="click->navbar#MenuHandler" aria-haspopup="true" aria-label="Main Menu"
               xmlns="http://www.w3.org/2000/svg"
               class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28"
               viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none"
               stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="4" y1="8" x2="20" y2="8"></line>
              <line x1="4" y1="16" x2="20" y2="16"></line>
          </svg>
          <div class="hidden close-m-menu" data-action="click->navbar#dropdownHandler">
              <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24"
                   height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000"
                   fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <line x1="18" y1="6" x2="6" y2="18"/>
                  <line x1="6" y1="6" x2="18" y2="18"/>
              </svg>
          </div>
      </div>
  </div>
</nav>
